@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

@keyframes moveInfinite {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes pulseBrightness {

  0%,
  100% {
    filter: brightness(6);
  }

  50% {
    filter: brightness(11);
  }
}

.bounce-animation {
  animation: moveInfinite 2s infinite ease-in-out;
}